<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <h1>Update Recipe!</h1>
        <a href="/recipes">+ Create</a> <!--! Not yet linked -->
        <a href="/logout">Logout</a> <!--! Not yet linked  -->
    </div>
    <div class="body">
        <form action="/update_recipe/{{recipes.id}}" method="POST">
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div>
                <label for="">Name:</label>
                <input type="text" name="name" value="{{recipes.name}}">
            </div>
            <div>
                <label for="">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10">{{recipes.description}}</textarea>
                <!-- <input type="text" name="description"> -->
            </div>
            <div>
                <label for="">Instruction:</label>
                <textarea name="instruction" id="instruction" cols="30" rows="10">{{recipes.instruction}}</textarea>
                <!-- <input type="text" name="instruction"> -->
            </div>
            <div>
                <label for="">Under 30 Minutes?</label>
                <label for="yes">Yes</label>
                <input type="radio" id="yes" name="under_30_min" value="yes">
                <label for="no">No</label>
                <input type="radio" id="no" name="under_30_min" value="no">
            </div>
            <div>
                <label for="">Updated At:</label>
                <input type="date" name="updated_at" value="">
            </div>
            <button value="submit">Submit!</button>
        </form>
    </div>
</body>
</html>